.discount-row{
    width: 50%;
    justify-content: space-between;
    display: flex;
    padding: 5% 0; 
}
.send-button-row{
    display: flex;
    justify-content: flex-end;
}
.send-button{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.email{
    border-radius: 12px;
    background-color: #d3d3d33b;
    font-size: 12px;
    font-weight: 600;
    color: #8e8d8d;
    padding: 6px;
    margin-right: 10px;
}

.email-row{
    margin-bottom: 10px; 
}
.delete-mark{
    border: 1px solid red;
    color: red; 
    height: 15px;
    width: 15px;
    display: table-cell;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
}
.error{
    color: red; 
}
.invitee-row{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}