.detail-card-container{
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
    border-radius: 5px;
    padding: 5px; 
}

.detail-card-top{
    display: flex;
    justify-content: space-between
}

.detail-card-top-descContainer{
    padding: 0% 2%;
    width: 80%;
}

.detail-card-top-desc{
    padding: 1% 0;
}

.detail-card-top-other{
    padding-top: 1%;
    justify-content: space-between;
    display: flex;
}
.detail-card-top-other-box{
    display: flex;
    flex-direction: column
}

.detail-img {
    height: 8em;
    object-fit: inherit;
}

.detail-card-tile{
    width: 24%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.reminder-tile{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.reminder-row{
    width: 100%;
    margin-bottom: 5px;
}

.detail-card-count{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.subscriber-image{
    height: 40px;;
}

.detail-card-tile-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-card-tile-text{
    font-size: 24px;
    color: #211d70;
    font-weight: bold;
}

.deleteButton{
    float: right;
    display: flex;
    z-index: 1;
}

.discount-box{
    display: flex;
    flex-direction: column;
}

.detail-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}