{
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "extends": ["plugin:react/recommended", "eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0
  },
  "settings": {
      "react": {
        "version": "detect"
      }
    }
}
