.registration-main {
    display: flex;
    width: 100%;
    background-color: white;
}
.image-style {
    height: 91vh;
    width: 60%;
}
.form-container {
    width: 100%;
    background-color: #F6F8FC;
    padding: 1% 4%;
}
.form-header-user {
    padding-bottom: 4%;
}
form-header-title {
    font-size: 30%;
}
.form-header-desc {
    font-size: 20%;
}