.subscription-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.subscription-container-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: -1%;
}

.subscription-left{
    width: 30%;
    display: flex;
    flex-direction: column
}

.available-tickets{
    border: 1px solid #ff000036;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 15px;
    background-color: #ff00001f;
    width: 90%;
    font-weight: bold;
}

.subscription-seats{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 21px;
    padding-bottom: 20px;
}

.borderBottom{
    border-bottom: 1px solid lightgray;
}

.breakdown{
    border-top: 1px solid lightgray;
    margin-top: 10px;
    text-align: right;
    padding-bottom: 10px;
    padding-top: 10px;
}

.subscription-payment{
    width: 50%;
}

.update-row{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.cancel-row{
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.payment-success {
    display: flex;
    justify-content: center;
    color:green;
    padding: 3%;
}
.payment-success-button{
    display: flex;
    justify-content: center;
    color:green;
    padding:3%;
}
.subscription-discount{
    color:green;
    border: 1px solid #E5E8F0;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-bottom: 0%;
    padding: 2%;
}
.already-subscribed-block{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
}
.upcoming-subscribed{
    width: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
}
.already-subscibed{
    background-color: #E5F4F3;
    width: 100%;
    height: 11em;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
}
.confirm-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    margin-top:1%;
}
.cancel-modal{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 150%;
}
.cancel-success {
    text-align: center;
    padding: 5%;
    padding-bottom: 0%;
    color: green;
}
.cancel-success-paid{
    padding-top:0%;
}
.share-confirm {
    display: flex;
    justify-content: center;
}
.refund-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.color-text{
    color: #262C6F;
}
.update-button{
    margin-top: 4%;
}
.form-main-payment{
    align-self: center;
    width: 80%;
}
.expiry-error {
    color: red;
    font-size: 12px;
    word-wrap: normal;
    margin-top: -4%;
    margin-bottom: 4%;
}