.layoutContainer {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.layoutNavContainer {
  height: 100%;
  position: fixed;

  background-color: #211d70;
  width: 6%;
}
.mainContentContainer {
  /* padding: 0 1% 0% 6%; */
  width: 100vw;
}

.contentBody{
  background-color: #8080800f;
  height: 90vh;
  margin-left: 6%;
  padding: 0% 2%;
}
