.layoutContainer {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.layoutNavContainer {
  height: 100%;
  position: fixed;
  width: 6%;
}
.mainContentContainer {
  padding: 0% 3% 0% 10%;
  width: 100%;
}

.contentBody{
  padding-top: 10%;
}
