.revenue-card {
    width: 100%;
    border-top: 2px solid #0F58CB;
}
.revenue-heading{
    font-size: 130%;
}
.value-style {
    font-size: 200%;
    padding-left: 15%;
    
}
.revenue-value {
    padding-top: 2%;
    display: flex;
    color: #0F58CB;
}
.ellipsis-style-analytics {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pie-card {
    height: 100%;
    border-top: 2px solid red;
}
.pie-chart {
    display: flex;
    justify-content: center;
}
.progress-div{
    display: flex;
    justify-content: space-around;
    padding-top: 15%;
}
.progress-div-item{
    width: 60%;
    padding: 1%;
    padding-left: 5%;
    box-sizing: border-box;

}
.table-analytics{
    margin-top: 2%;
}