.cards-style {
    width: 260px;
    margin-left: 0.5% !important;
    margin-right: 1.5% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3% !important;
 }
 
.cards-cover-style {
    height: 10em;
    width: 100%;
    object-fit: inherit;
}
.image-status-container {
    display: flex !important;
}
.status-button {
    cursor: none !important;
    margin-left: -30% !important;
    color: black !important;
    height: 22px !important;
    font-size: 9px !important;
    margin-top: 3% !important;
}
.card-desc-grid{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    margin-top: -5%;
    box-sizing: content-box;
}
.event-name{
    font-weight: bold;
    font-size: 18px;
    width: 100%;  
}
.card-desc-flex{
    display: flex;
    width: 80%;
    flex-direction: column;
}
.calendar-gap{
    padding-right: 5px;
    height: 2em;
    width: 2em;
    object-fit: scale-down;
}
.user-cards-flex {
    display: flex;
    flex-direction: column;
}
.attendies-fees-div{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.fees-div {
    background-color: #ffb100a1;
    color: black;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
.attendies-fees-div{
    padding: 2px 0;
    font-size: 11px;
    box-sizing: border-box;
}
.address-div{
    font-size: 11px;
    width: 100%; 
}
.ellipsis-style {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}