.events-container-flex {
    width: 100%;
    height: 100%;
}

.events-heading {
    color: #262C6F;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    font-size: 120%;
}
.cards-row{
    width: 100%;
    height: 18em;
    margin-top: 4%;
}
.dashboard-actions-container {
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.filters{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.sub-content{
    margin-left: 6%;
    padding: 2%;
}

.button-create {
    background-color: #262C6F;
    color: #ffffff;
}
.spinner-dashboard{
    width: 100%;
    height: 95vh !important;
    max-height: 95vh !important;
    position: absolute !important;
}
.checkbox-style{
    margin-left: 1%;
    padding-left: 1%;
    padding-top: 0.5%;
}