.example-input {
  justify-content: space-around;
  height: 100%;
}

.loginContainer{
  display: flex;
  flex-direction: row;
  height: 87vh;
  width: 100%;
}

.leftBody{
  width: 45%;
  margin-right: 31px;
}

.rightBody{
  width: 55%;
}

.image{
  width: 100%;
  height: 100%;
}