
.nav-container{
    justify-content: space-between;
    padding: 1% 3%;
    height: 9vh;
}

.top-nav {
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.logo-text{
    font-size: 15px;
    color: #211d70;
    font-weight: bold;
}

.notification{
    background: white;
    position: absolute;
    top: -1px;
    right: 0px;
    border: 1px solid #80808026;
    z-index: 1;
    height: 100vh;
    flex-wrap: wrap;
    width: 25%;
}

.li-item{
    word-break: break-all;
    border-bottom: 1px solid #80808026;
    padding: 20px;
}

.notification-header{
    background: #211d70;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.notification-body{
    margin-top: 20px;
}

.notification-clear{
    float: right;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-items{
    color: #262C6F;
    margin-right: 20px;
    margin-left: 20px;
}