
.nav-container{
    justify-content: space-between;
    padding: 2% 0;
}
.top-nav {
    display: flex;
    float: right;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}