.form-main {
    align-self: center;
    width: 100%;
}
.input-style {
    padding: 2%;
}
.button-arrow {
    font-size: 200%;
}
.password-info {
    font-size: 12px;
    padding-bottom: 5px;
}
.two-button-style {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20%;
}
.one-button-style {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 2%;
}
.multistep-style {
    display: flex;
    width: 100%;
    justify-content: center;
}
.step-style {
    width: 70%;
}