.modal-custom,ant-modal {
    max-height: 60%;
    width: 60% !important;
}

.modal-header {
    color: #262C6F;
    text-align: center;
    font-weight: 700;
}

.terms-conditions {
    overflow-y: auto;
    max-height: 30em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 3em; 
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}
.accept-button {
    background-color: #262C6F;
    color:#ffffff;
}
.accept-button-warning{
    color:#ffffff;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.warning-message {
    font-size: 150%;
    color: #262C6F;
    margin-left: 15%;
    margin-right: 15%;

}
